body {
	font-family: 'Roboto', serif;
	background-color: #7022c9;
	color: #f2f2f2;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 3.125em;
	text-align: center;
	color: #d63b9d;
	margin-bottom: 30px;
}

#planets {
	width: 70%;
	margin-top: 20px;
	border-collapse: collapse;
	box-shadow: 0px 0px 0px 4px rgba(39, 36, 38, 0.8);
}



	
